<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus == statusOn,
                 'list-group-item-danger': appareilStatus == statusOff
                 }">
<!--  <div style="width:20px;height:20px;background-color:red;"
       *ngIf="appareilStatus === 'Eteint'"></div>-->
  <h4 [ngStyle]="{color: getColor()}">Appareil N° {{index + 1}}: {{appareilName}} - Status: {{appareilStatus}}</h4>
  <a [routerLink]="[id]">Détail</a>
  <!--<input type="text" class="form-control" [(ngModel)]="appareilName">-->
  <button class="btn btn-success"
          (click)="onAllumer()"
          [disabled]="appareilStatus === 'Allumé'">Allumer</button>
  <button class="btn btn-danger"
          (click)="onEteindre()"
          [disabled]="appareilStatus === 'Eteint'">Eteindre</button>
</li>
