<div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Mes appareils</h2>
      <p>Mis à jour : {{ lastUpdate | date: 'dd/MM/yyyy H:mm'}}</p>
      <ul class="list-group">
    <!--    <app-appareil [appareilName]="'Machine a laver'"></app-appareil>
        <app-appareil [appareilName]="'Frigo'"></app-appareil>
        <app-appareil [appareilName]="'Ordinateur'"></app-appareil>-->
        <app-appareil *ngFor="let appareil of appareils; let i = index"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"
                      [index]="i"
                      [id]="appareil.id"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout Allumer</button>
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="onEteindre()">Tout Eteindre</button>
      <button class="btn btn-primary"
              (click)="onSave()">Enregistrer</button>
            <button class="btn btn-warning"
              (click)="onFetch()">Charger</button>
    </div>
  </div>
